In [35]:
import os
import pandas as pd

In [36]:
SENTIMENT_PATH = os.path.join('data', 'sentiment')

In [11]:
tasa_path = os.path.join(SENTIMENT_PATH, "twitter-us-airline-sentiment", "Tweets.csv")
tasa_df = pd.read_csv(tasa_path)
tasa_df.columns

Index(['tweet_id', 'airline_sentiment', 'airline_sentiment_confidence',
       'negativereason', 'negativereason_confidence', 'airline',
       'airline_sentiment_gold', 'name', 'negativereason_gold',
       'retweet_count', 'text', 'tweet_coord', 'tweet_created',
       'tweet_location', 'user_timezone'],
      dtype='object')

In [12]:
tasa_df[['tweet_id','text','airline_sentiment','airline','airline_sentiment_gold','negativereason_gold']]

,tweet_id,text,airline_sentiment,airline,airline_sentiment_gold,negativereason_gold
0,570306133677760513,@VirginAmerica What @dhepburn said.,neutral,Virgin America,NaN,NaN
1,570301130888122368,@VirginAmerica plus you've added commercials t...,positive,Virgin America,NaN,NaN
2,570301083672813571,@VirginAmerica I didn't today... Must mean I n...,neutral,Virgin America,NaN,NaN
3,570301031407624196,@VirginAmerica it's really aggressive to blast...,negative,Virgin America,NaN,NaN
4,570300817074462722,@VirginAmerica and it's a really big bad thing...,negative,Virgin America,NaN,NaN
...,...,...,...,...,...,...
14635,569587686496825344,@AmericanAir thank you we got on a different f...,positive,American,NaN,NaN
14636,569587371693355008,@AmericanAir leaving over 20 minutes Late Flig...,negative,American,NaN,NaN
14637,569587242672398336,@AmericanAir Please bring American Airlines to...,neutral,American,NaN,NaN
14638,569587188687634433,"@AmericanAir you have my money, you change my ...",negative,American,NaN,NaN
14639,569587140490866689,@AmericanAir we have 8 ppl so we need 2 know h...,neutral,American,NaN,NaN

In [27]:
apple_path = os.path.join(SENTIMENT_PATH, "crowdflower-apple-twitter-sentiment", "data", "apple_twitter_sentiment_dfe.csv")
apple_df = pd.read_csv(apple_path)
apple_df.columns

Index(['unit_id', 'golden', 'unit_state', 'trusted_judgments',
       'last_judgment_at', 'sentiment', 'sentiment_confidence', 'date', 'id',
       'query', 'sentiment_gold', 'text'],
      dtype='object')

In [34]:
apple_df[['unit_id','text','sentiment','sentiment_gold']]

,unit_id,text,sentiment,sentiment_gold
0,623495513,#AAPL:The 10 best Steve Jobs emails ever...htt...,3,3\nnot_relevant
1,623495514,RT @JPDesloges: Why AAPL Stock Had a Mini-Flas...,3,3\n1
2,623495515,My cat only chews @apple cords. Such an #Apple...,3,3
3,623495516,I agree with @jimcramer that the #IndividualIn...,3,3\n1
4,623495517,Nobody expects the Spanish Inquisition #AAPL,3,NaN
...,...,...,...,...
3881,623499442,(Via FC) Apple Is Warming Up To Social Media -...,3,5\n3
3882,623499450,RT @MMLXIV: there is no avocado emoji may I as...,3,3\n1
3883,623499486,@marcbulandr I could not agree more. Between @...,5,5
3884,623499514,My iPhone 5's photos are no longer downloading...,1,1
3885,623517290,RT @SwiftKey: We're so excited to be named to ...,5,5\n3\nnot_relevant